In [112]:
#Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
from conn_dict import conn_dict
import psycopg2
from sqlalchemy import create_engine, inspect
from sqlalchemy.orm import Session

In [102]:
# create variables from imported dictionary
for key, value in conn_dict.items():
    key = value

In [103]:
# create the connection to the database 
engine = create_engine(f'postgresql://{username}:{db_pass}@{hostname}:{port_id}/{db}')

In [111]:
# look at the tables in the database
inspector = inspect(engine)
inspector.get_table_names()

['Additional_Health_Measures_2',
 'Health_Measures_3_State',
 'Additional_Health_Measures_4_State',
 'Health_Measures_1']

In [124]:
df = pd.read_sql('SELECT * FROM public."Additional_Health_Measures_2"', engine)
df

,State,County,State_County,Life_expectancy,Deaths_Premature_age_adjusted_mortality,Child_mortality_deaths,Infant_mortality_deaths,percentage_Frequent_Physical_Distress,percentage_Adults_with_Diabetes,HIV_Cases,...,Suicides,Firearm_fatalities,Juvenile_Arrest_Rate,Traffic_Volume,Homeowners,Severe_housing_cost_burden,percentage_Broadband_Access,Population,percentage_female,rural_residents
0,Alabama,Autauga,Alabama_Autauga,76.6,836,27,30,14,11,104,...,52,49,8,155,16088,2862,83,56145,51.5,22921
1,Alabama,Baldwin,Alabama_Baldwin,77.7,3377,97,84,13,9,328,...,214,153,26,134,64716,9296,85,229287,51.6,77060
2,Alabama,Barbour,Alabama_Barbour,72.9,539,17,None,19,17,105,...,20,32,24,102,5775,1055,65,24589,47.2,18613
3,Alabama,Bibb,Alabama_Bibb,73.6,460,15,None,16,13,40,...,18,20,None,27,5428,650,76,22136,46.8,15663
4,Alabama,Blount,Alabama_Blount,74.2,1143,38,31,16,11,35,...,61,59,6,43,16132,1722,80,57879,50.6,51562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,Wyoming,Sweetwater,Wyoming_Sweetwater,76.5,599,19,None,11,8,23,...,67,54,13,219,11852,1332,87,42673,48.4,4782
3138,Wyoming,Teton,Wyoming_Teton,86.7,111,None,None,9,7,11,...,17,11,6,144,5609,1129,89,23497,48.1,9887
3139,Wyoming,Uinta,Wyoming_Uinta,77,287,12,None,12,8,None,...,31,23,6,128,5996,426,91,20215,49.4,9101
3140,Wyoming,Washakie,Wyoming_Washakie,78.8,115,None,None,12,9,0,...,None,None,11,77,2510,189,83,7760,49,3068
3141,Wyoming,Weston,Wyoming_Weston,80.7,75,None,None,11,8,None,...,None,None,8,65,2419,259,80,6743,47.5,3931